.blog-entry {
    .content {
        hr {
            margin: 2rem 0;
        }
    }
    #blog-posts {
        list-style: none;
        padding:0;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        .post-summary.post {
            h2 {
                margin-bottom: .5rem;
            }
            p {
                margin-bottom: .25rem;
                &.blog-post-meta {
                    font-size: 12px;
                }
            }
            .post-image {
                padding-top: 56.25%;
                position: relative;
            }
        }
    }
}
