.blog-entry {
    #blog-posts {
        list-style: none;
        padding:0;
        .post-summary.post {
            max-width: 450px;
            h2 {
                margin-bottom: .5rem;
            }
            p {
                margin-bottom: .25rem;
                &.blog-post-meta {
                    font-size: 12px;
                }
            }
            .post-image {
                padding-top: 56.25%;
                position: relative;
            }
        }
    }
}
