.blog-post {
    .container {
        max-width: 800px;
        .content-area {
            width: 100%;
            .hero {
                position: relative;
                padding: 10rem 0;
                margin-bottom: 3rem;
                h1 {
                    font-size: clamp(24px, 3cqw, 52px);
                    text-align: center;
                    padding: 2rem;
                    color: #fff;
                    margin:0;
                    @media screen and (max-width: 991px) {
                        position: absolute;
                        left: -30px;
                        bottom: 10px;
                        background-color: rgba(0, 0, 0, 0.86);
                    }
                }
            }
            section {
                width: 100%;
                margin-bottom: 50px;
                #postImageCarousel {
                    min-width: 50%;
                    width: 100%;
                    margin: 0 auto;
                    padding:0;
                    .carousel-item {
                        padding-top: 56.25%;
                        position: relative;
                        img {
                            position: absolute;
                            top:50%;
                            bottom:0;
                            left:0;
                            right:0;
                            width: 100%;
                            object-fit: cover;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

}
