.home-page {
    min-height: 480px;
    .content-area.center {
        max-width: 1000px;
        text-align: center;
        @media screen and (max-height: 480px) {
            padding-top: 100px;
        }
    }
}
